
<div class="container">
    
    
    <div class="first-column">
        <p><img width="288px" src="../../assets/Cricle.png"/></p>
        <p><img class="traingle" src="../../assets/Triangle.png"/></p>

        <p class="loogo"><img width="50px" height="50px" src="../../assets/flower.png"/></p>
      <div class="companynme">
      <h3>شركة تنمية نفط عمان</h3>
      <p>Petroleum Development Oman</p>

      <p class="checklistresultp2">Checklist Result</p>
      </div>
  
      <hr>

      <div class="management">
      <h5 align="center">Checklist Management</h5>
      <h5 align="center">User Account Management</h5>
      <h5 align="center" class="checklistresult">Project Management</h5>
      <h5 align="center">Crew Management</h5>
  </div>

  <hr>
  <p class="setting">Setting</p>
  <button type="submit" class="btn btn-red">Logout</button>
    </div>

    
    <div class="second-column">
        <div class="supreme-container">
        <table class="headert">
            <tr>
                <td>
        <p class="checklistresultp">Project Management<p>
        </td>

        <td>
            <div class="input-group">
                  
          <input type="text" class="form-control" name="x" placeholder="Search term...">
          <span class="fa fa-search form-control-feedback"></span>

      </div>
    </td>
    <td>
      <button type="submit" class="btn btn-blue">Add New Project</button>
      <!-- <i class="more-less glyphicon glyphicon-plus"></i> -->
    </td>
    </tr>
    </table>
        

      <div round class="shadow-lg  bg-light">
          <table class="datatable">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Points</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
              
                  
            </table>
         
      </div>
      
      <p alighn="right"><img class="bottomshape" src="../../assets/Background_Pattern.png"/></p>
      <p class="pages">1 - 8  of 30  </p>
    </div> 
    
    <!-- <div round class="shadow-lg2  bg-light">
<p class="createprojectp">Create New Project</p>
    </div> -->

    <div class="card cardnewproject">
        <div class="card-body">
            <p class="createprojectp">Create New Project</p>
            <form class="form-signin">

              <button type="button" class="close"> 
                <span>×</span> 
                </button> 
                <div class="form-label-group">
                   

                    <div class="form-group">
                        <label>Project Name</label>
                        <input type="text" class="form-control" placeholder="Oil field north">
                     </div>
                     <div class="form-group">
                        <label>Status</label>
                        <input type="password" class="form-control" placeholder="published">
                       
                     </div>
                </div>

                <button type="submit" class="btn btn-green">Create Project</button>
                <button type="submit" class="btn btn-black">Cancel</button>
                

                
            </form>
        </div>
    </div>
    
</div>
  
</div>

